body {
  background-color:lightblue;
 }
 
 h1,h3{
  text-align:center;
  color: white;
 }
 
 p {
  text_align: left;
  font-family: helvettica;
}

h3 {
  color: black;
}

img {
  display: block;
  margin: auto;
}
